{% import 'macros/form.html' as form %}
{% extends 'page.html' %}

{% set data = data or {} %}
{% set errors = errors or {} %}
{% set mode = mode or 'add' %}
{% if mode=='edit' %}
    {% set action_url %}
        {{ url_for('metadata.update', id=metadata.id) }}
    {% endset %}
{% else %}
    {% set action_url %}
        {{ url_for('metadata.upload')}}
    {% endset %}
    
{% endif %}

{% block breadcrumb_content %}
    li.active
{% endblock %}

{% block content_action %}
    {% if mode=='edit' %}
        {% link_for _('View'), named_route='metadata.get', id=metadata.id, class_='btn btn-default', icon='eye' %}
    {% endif %}
{% endblock %}

{% block content_primary_nav %}
    {% if mode=='edit' %}
        {{ h.build_nav_icon('metadata.edit', _('Edit Metadata'), id=metadata.id, icon='') }}
    {% else %}
        {{ h.build_nav_icon('metadata.create', _('Add Metadata'), icon='') }}
    {% endif %}
{% endblock %}

{% block primary_content_inner %}
    <form action="{{ action_url }}" class="form" method="POST" enctype="multipart/form-data">
    {% block basic_fields_url %}
      {% set data = data or {} %}
      {% set errors = errors or {} %}
      {% set is_upload = (data.url_type == 'upload') %}
      {{ form.image_upload(data, errors, field_url='url', field_upload='upload', field_clear='clear_upload',
         is_upload_enabled=h.uploads_enabled(), is_url=data.url and not is_upload, is_upload=is_upload,
         upload_label=_('Data'), url_label=_('URL'), placeholder=_('http://example.com/external-data.csv'), field_name='name') }}
    {% endblock %}
        <input type="hidden" name="id" value="{% if mode=='edit' and metadata.id %}{{metadata.id}}{% endif %}">
        <div class="form-group">
            <label for="">{{ _('Upload File') }}</label>
            <input type="file" name="file" class="form-control">
        </div>
        <div class="form-group">
            <label for="">{{ _('Title') }}</label>
            <input type="text" name="title" class="form-control" 
                value="{% if mode=='edit' and metadata.title %}{{metadata.title|trim}}{% endif %}">
        </div>

        {% block metadata_field_desc %}
        <div class="form-group">
            <label for="metadata_field_desc">{{ _('Description') }}</label>
            <textarea name="desc" id="metadata_field_desc" class="form-control" 
                rows="6">{% if mode=='edit' and metadata.desc %}{{metadata.desc|trim}}{% endif %}</textarea>
        </div>
        {% endblock %}
        <!-- <div class="form-group">
            <label for="">{{ _('Organization') }}</label>
            <select name="" id="" class="form-control"></select>
        </div> -->
        {% block package_basic_fields_org %}
        {# if we have a default group then this wants remembering #}
        {% if data.group_id %}
        <input type="hidden" name="groups__0__id" value="{{ data.group_id }}" />
        {% endif %}

        {% set dataset_is_draft = data.get('state', 'draft').startswith('draft') or data.get('state', 'none') ==  'none' %}
        {% set dataset_has_organization = data.owner_org or data.group_id %}
        {% set organizations_available = h.organizations_available('create_dataset') %}
        {% set user_can_update_owner_org = h.can_update_owner_org(data, organizations_available) %}
        {% set user_is_sysadmin = h.check_access('sysadmin') %}
        {% set show_organizations_selector = organizations_available and user_can_update_owner_org %}
        {% set show_visibility_selector = dataset_has_organization or (organizations_available and (user_is_sysadmin or dataset_is_draft)) %}

        {% if show_organizations_selector and show_visibility_selector %}
        <div data-module="dataset-visibility">
        {% endif %}

        {% if show_organizations_selector %}
        {% set existing_org = data.owner_org or data.group_id %}
        <div class="form-group control-medium">
            <label for="field-organizations" class="control-label">{{ _('Organization') }}</label>
            <div class="controls">
                <select id="field-organizations" name="owner_org" data-module="autocomplete">
                {% if h.check_config_permission('create_unowned_dataset') %}
                <option value="" {% if not selected_org and data.id %} selected="selected" {% endif %}>{{ _('No organization') }}</option>
                {% endif %}
                {% for organization in organizations_available %}
                {# get out first org from users list only if there is not an existing org #}
                {% set selected_org = (existing_org and existing_org == organization.id) or (not existing_org and not data.id and organization.id == organizations_available[0].id) %}
                <option value="{{ organization.id }}" {% if selected_org %} selected="selected" {% endif %}>{{ organization.display_name }}</option>
                {% endfor %}
                </select>
            </div>
        </div>
        {% endif %}
        {% endblock %}

        {% block metadata_author_field %}
        <div class="form-group">
            <label for="metadata_author_field">{{ _('Author') }}</label>
            <input type="text" id="metadata_author_field" name="author" class="form-control"
                value="{% if mode=='edit' and metadata.author %} {{metadata.author}} {% endif %}">
        </div>
        {% endblock %}

        <div class="row text-right">
            {% if mode=='edit' %}
                <a href="{{ url_for('metadata.delete', id=metadata.id)}}" class="btn btn-danger pull-left" data-module="confirm-action" data-module-content="{{ _('Are you sure?')}}">Delete</a>
            {% endif %}
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
{% endblock %}